{% extends 'base_auth.html.twig' %}

{% form_theme registrationForm 'form/fields.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<h1 class="titre-page">Inscription</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {attr: {class: 'w-full max-w-xs'}}) }}

	{{ form_row(registrationForm.username) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword.first) }}
	{{ form_row(registrationForm.plainPassword.second) }}

	{# Champs non déclarés + hidden #}
	{{ form_rest(registrationForm) }}

	<div class="w-full max-w-sm flex justify-center pt-4">
		<button type="submit" class="btn">Valider</button>
	</div>
	{{ form_end(registrationForm) }}

	<p class="text-sm text-encre mt-4 text-center">
		Déjà un compte ?
		<a href="{{ path('app_login') }}" class="block text-rouge-torii font-bold">Se connecter</a>
	</p>

{% endblock %}
