{#  Toolbar
  Paramètres attendus :
  - buttons : tableau de { icon: 'replay'|'undo'|'redo'|'reset'|'moyen'|'rate'|'reussi', action: 'controller#method', label: '...', param: '...' (optionnel) }
  - validate_action : optionnel - si fourni, affiche le bouton Valider rouge
  - validate_label : texte aria-label du bouton Valider #}

<div class="w-full flex items-center justify-between bg-gris-pierre rounded-lg px-4 border border-bleu-aiiro" style="height: 56px;">
	{% for button in buttons %}
		<button
			type="button" data-action="click->{{ button.action }}" data-result="{{ button.param|default('') }}" class="flex items-center justify-center text-encre" aria-label="{{ button.label }}">

			{# Replay #}
			{% if button.icon == 'replay' %}
				<svg height="30" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16 3.25001C14.1498 3.24793 12.3215 3.6495 10.6424 4.4267C8.9634 5.20391 7.47414 6.33805 6.2785 7.75001H8.875C9.17337 7.75001 9.45952 7.86853 9.6705 8.07951C9.88147 8.29049 10 8.57664 10 8.87501C10 9.17337 9.88147 9.45952 9.6705 9.6705C9.45952 9.88148 9.17337 10 8.875 10H3.625C3.32663 10 3.04048 9.88148 2.8295 9.6705C2.61853 9.45952 2.5 9.17337 2.5 8.87501V3.62501C2.5 3.32664 2.61853 3.04049 2.8295 2.82951C3.04048 2.61853 3.32663 2.50001 3.625 2.50001C3.92337 2.50001 4.20952 2.61853 4.4205 2.82951C4.63147 3.04049 4.75 3.32664 4.75 3.62501V6.07751C6.15647 4.48007 7.88741 3.20091 9.82735 2.32535C11.7673 1.44979 13.8716 0.997964 16 1.00001C24.2845 1.00001 31 7.71551 31 16C31 24.2845 24.2845 31 16 31C7.7155 31 1 24.2845 1 16C1 15.283 1.049 14.5795 1.147 13.8895C1.18576 13.6386 1.31409 13.4103 1.50824 13.2468C1.70238 13.0832 1.9492 12.9956 2.203 13C2.917 13 3.442 13.669 3.352 14.3785C3.0225 16.9484 3.48375 19.5577 4.67432 21.8589C5.8649 24.16 7.72829 26.0439 10.0163 27.2595C12.3044 28.4751 14.9085 28.9649 17.4818 28.6634C20.0551 28.362 22.4756 27.2837 24.4207 25.5723C26.3659 23.8608 27.7435 21.5973 28.3701 19.0833C28.9966 16.5692 28.8424 13.924 27.9279 11.4998C27.0134 9.07564 25.3821 6.9876 23.2512 5.51378C21.1203 4.03996 18.5909 3.25032 16 3.25001ZM14.842 10.285C14.4995 10.0949 14.1134 9.9975 13.7217 10.0024C13.3301 10.0073 12.9465 10.1144 12.6089 10.3131C12.2714 10.5117 11.9915 10.795 11.797 11.135C11.6025 11.475 11.5001 11.8598 11.5 12.2515V19.75C11.5001 20.1417 11.6025 20.5265 11.797 20.8665C11.9915 21.2065 12.2714 21.4898 12.6089 21.6885C12.9465 21.8871 13.3301 21.9942 13.7217 21.9991C14.1134 22.004 14.4995 21.9066 14.842 21.7165L21.5905 17.9695C21.9415 17.7747 22.2339 17.4896 22.4375 17.1436C22.6411 16.7977 22.7485 16.4036 22.7485 16.0023C22.7485 15.6009 22.6411 15.2068 22.4375 14.8609C22.2339 14.515 21.9415 14.2298 21.5905 14.035L14.842 10.285ZM13.75 12.2515L20.4985 16.0015L13.75 19.7485V12.2515Z" fill="currentColor" stroke="currentColor" stroke-width="2"/>
				</svg>

				{# Undo #}
			{% elseif button.icon == 'undo' %}
				<svg height="20" viewbox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.3884 2.22222C11.5046 2.22222 7.9873 4.42222 5.27601 8L0 0V20H13.19L7.88471 11.9556C9.92184 9.37778 12.5159 7.77778 15.3884 7.77778C20.5765 7.77778 24.9878 12.9111 26.5266 20L30 18.2667C27.9629 8.95556 22.2032 2.22222 15.3884 2.22222Z" fill="currentColor"/>
				</svg>

				{# Redo #}
			{% elseif button.icon == 'redo' %}
				<svg height="20" viewbox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.7214 8C22.0088 4.42222 18.4897 2.22222 14.6041 2.22222C7.78592 2.22222 2.02346 8.95556 0 18.2667L3.46041 20C4.23229 16.4441 5.7251 13.3481 7.72609 11.1535C9.72708 8.95883 12.1341 7.77747 14.6041 7.77778C17.4633 7.77778 20.0733 9.37778 22.1114 11.9556L16.8035 20H30V0L24.7214 8Z" fill="currentColor"/>
				</svg>

				{# Reset #}
			{% elseif button.icon == 'reset' %}
				<svg width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<polyline points="1 4 1 10 7 10"/>
					<path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"/>
				</svg>

				{# Raté #}
			{% elseif button.icon == 'rate' %}
				<svg height="30" viewbox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.0075825 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C34.9949 12.8603 33.1495 8.41209 29.8687 5.13131C26.5879 1.85054 22.1397 0.00514666 17.5 0ZM17.5 31.1111C14.808 31.1111 12.1764 30.3128 9.93808 28.8172C7.69974 27.3216 5.95517 25.1958 4.92498 22.7087C3.89479 20.2216 3.62524 17.4849 4.15043 14.8446C4.67562 12.2043 5.97195 9.77904 7.8755 7.87549C9.77904 5.97194 12.2043 4.67561 14.8446 4.15042C17.4849 3.62523 20.2216 3.89478 22.7087 4.92497C25.1959 5.95516 27.3216 7.69973 28.8172 9.93807C30.3128 12.1764 31.1111 14.808 31.1111 17.5C31.1073 21.1087 29.672 24.5685 27.1202 27.1202C24.5685 29.672 21.1087 31.1072 17.5 31.1111ZM9.07408 14.2593C9.07408 13.7465 9.22613 13.2452 9.51101 12.8189C9.79589 12.3925 10.2008 12.0602 10.6745 11.864C11.1483 11.6678 11.6695 11.6164 12.1725 11.7165C12.6754 11.8165 13.1373 12.0634 13.4999 12.426C13.8625 12.7886 14.1094 13.2506 14.2094 13.7535C14.3095 14.2564 14.2581 14.7777 14.0619 15.2514C13.8657 15.7251 13.5334 16.13 13.107 16.4149C12.6807 16.6998 12.1794 16.8518 11.6667 16.8518C10.9791 16.8518 10.3196 16.5787 9.83343 16.0925C9.34723 15.6063 9.07408 14.9469 9.07408 14.2593ZM25.9259 14.2593C25.9259 14.772 25.7739 15.2733 25.489 15.6996C25.2041 16.126 24.7992 16.4583 24.3255 16.6545C23.8517 16.8507 23.3305 16.9021 22.8275 16.802C22.3246 16.702 21.8627 16.4551 21.5001 16.0925C21.1375 15.7299 20.8906 15.268 20.7906 14.765C20.6905 14.2621 20.7419 13.7408 20.9381 13.2671C21.1343 12.7934 21.4666 12.3885 21.893 12.1036C22.3193 11.8187 22.8206 11.6667 23.3333 11.6667C24.0209 11.6667 24.6804 11.9398 25.1666 12.426C25.6528 12.9122 25.9259 13.5717 25.9259 14.2593ZM25.3977 23.4954C25.6801 23.9146 25.7882 24.4273 25.699 24.9249C25.6098 25.4224 25.3303 25.8657 24.9198 26.1607C24.5093 26.4557 24.0001 26.5793 23.5001 26.5052C23.0001 26.4311 22.5485 26.1652 22.2412 25.7639C21.7012 25.0105 20.9895 24.3967 20.165 23.9732C19.3405 23.5498 18.4269 23.3289 17.5 23.3289C16.5731 23.3289 15.6596 23.5498 14.835 23.9732C14.0105 24.3967 13.2988 25.0105 12.7588 25.7639C12.4515 26.1652 12 26.4311 11.4999 26.5052C10.9999 26.5793 10.4907 26.4557 10.0802 26.1607C9.66971 25.8657 9.39025 25.4224 9.30104 24.9249C9.21184 24.4273 9.3199 23.9146 9.60232 23.4954C10.5025 22.2415 11.6883 21.2199 13.0617 20.5153C14.435 19.8106 15.9564 19.4431 17.5 19.4431C19.0436 19.4431 20.565 19.8106 21.9383 20.5153C23.3117 21.2199 24.4975 22.2415 25.3977 23.4954Z" fill="currentColor"/>
				</svg>

				{# Moyen #}
			{% elseif button.icon == 'moyen' %}
				<svg height="30" viewbox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.0075825 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C34.9949 12.8603 33.1495 8.41209 29.8687 5.13131C26.5879 1.85054 22.1397 0.00514666 17.5 0ZM17.5 31.1111C14.808 31.1111 12.1764 30.3128 9.93808 28.8172C7.69974 27.3216 5.95517 25.1958 4.92498 22.7087C3.89479 20.2216 3.62524 17.4849 4.15043 14.8446C4.67562 12.2043 5.97195 9.77904 7.8755 7.87549C9.77904 5.97194 12.2043 4.67561 14.8446 4.15042C17.4849 3.62523 20.2216 3.89478 22.7087 4.92497C25.1959 5.95516 27.3216 7.69973 28.8172 9.93807C30.3128 12.1764 31.1111 14.808 31.1111 17.5C31.1073 21.1087 29.672 24.5685 27.1202 27.1202C24.5685 29.672 21.1087 31.1072 17.5 31.1111ZM25.9259 22.6852C25.9259 23.2009 25.7211 23.6955 25.3564 24.0601C24.9918 24.4248 24.4972 24.6296 23.9815 24.6296H11.0185C10.5028 24.6296 10.0082 24.4248 9.64359 24.0601C9.27894 23.6955 9.07408 23.2009 9.07408 22.6852C9.07408 22.1695 9.27894 21.6749 9.64359 21.3103C10.0082 20.9456 10.5028 20.7407 11.0185 20.7407H23.9815C24.4972 20.7407 24.9918 20.9456 25.3564 21.3103C25.7211 21.6749 25.9259 22.1695 25.9259 22.6852ZM9.07408 14.2593C9.07408 13.7465 9.22613 13.2452 9.51101 12.8189C9.79589 12.3925 10.2008 12.0602 10.6745 11.864C11.1483 11.6678 11.6695 11.6164 12.1725 11.7165C12.6754 11.8165 13.1373 12.0634 13.4999 12.426C13.8625 12.7886 14.1094 13.2506 14.2094 13.7535C14.3095 14.2564 14.2581 14.7777 14.0619 15.2514C13.8657 15.7251 13.5334 16.13 13.107 16.4149C12.6807 16.6998 12.1794 16.8518 11.6667 16.8518C10.9791 16.8518 10.3196 16.5787 9.83343 16.0925C9.34723 15.6063 9.07408 14.9469 9.07408 14.2593ZM25.9259 14.2593C25.9259 14.772 25.7739 15.2733 25.489 15.6996C25.2041 16.126 24.7992 16.4583 24.3255 16.6545C23.8517 16.8507 23.3305 16.9021 22.8275 16.802C22.3246 16.702 21.8627 16.4551 21.5001 16.0925C21.1375 15.7299 20.8906 15.268 20.7906 14.765C20.6905 14.2621 20.7419 13.7408 20.9381 13.2671C21.1343 12.7934 21.4666 12.3885 21.893 12.1036C22.3193 11.8187 22.8206 11.6667 23.3333 11.6667C24.0209 11.6667 24.6804 11.9398 25.1666 12.426C25.6528 12.9122 25.9259 13.5717 25.9259 14.2593Z" fill="currentColor"/>
				</svg>

				{# Réussi #}
			{% elseif button.icon == 'reussi' %}
				<svg height="30" viewbox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M25.665 22.3611C23.8826 25.4495 20.9028 27.2222 17.5 27.2222C14.0972 27.2222 11.1222 25.4512 9.33496 22.3611C9.08823 21.9153 9.02637 21.3904 9.16269 20.8994C9.29901 20.4084 9.62261 19.9906 10.0639 19.7358C10.5051 19.4809 11.0288 19.4095 11.5222 19.5368C12.0156 19.6642 12.4393 19.9801 12.7021 20.4167C13.3324 21.5072 14.794 23.3333 17.5 23.3333C20.206 23.3333 21.6676 21.5056 22.2979 20.4167C22.423 20.1906 22.5919 19.9918 22.7947 19.8318C22.9975 19.6717 23.2301 19.5537 23.479 19.4846C23.7279 19.4155 23.9881 19.3967 24.2444 19.4293C24.5007 19.4618 24.7479 19.5451 24.9716 19.6743C25.1953 19.8035 25.391 19.976 25.5473 20.1817C25.7037 20.3873 25.8174 20.6221 25.882 20.8722C25.9465 21.1224 25.9606 21.3829 25.9233 21.6385C25.8861 21.8941 25.7983 22.1398 25.665 22.3611ZM35 17.5C35 20.9612 33.9736 24.3446 32.0507 27.2225C30.1278 30.1003 27.3947 32.3433 24.197 33.6679C20.9993 34.9924 17.4806 35.339 14.0859 34.6637C10.6913 33.9885 7.57306 32.3218 5.12564 29.8744C2.67822 27.4269 1.01151 24.3087 0.336265 20.9141C-0.338976 17.5194 0.0075825 14.0007 1.33212 10.803C2.65665 7.60533 4.89967 4.87221 7.77753 2.94928C10.6554 1.02636 14.0388 0 17.5 0C22.1397 0.00514666 26.5879 1.85054 29.8687 5.13131C33.1495 8.41209 34.9949 12.8603 35 17.5ZM31.1111 17.5C31.1111 14.808 30.3128 12.1764 28.8172 9.93807C27.3216 7.69973 25.1959 5.95516 22.7087 4.92497C20.2216 3.89478 17.4849 3.62523 14.8446 4.15042C12.2043 4.67561 9.77904 5.97194 7.8755 7.87549C5.97195 9.77904 4.67562 12.2043 4.15043 14.8446C3.62524 17.4849 3.89479 20.2216 4.92498 22.7087C5.95517 25.1958 7.69974 27.3216 9.93808 28.8172C12.1764 30.3128 14.808 31.1111 17.5 31.1111C21.1087 31.1072 24.5685 29.672 27.1202 27.1202C29.672 24.5685 31.1073 21.1087 31.1111 17.5ZM11.6667 16.8518C12.1794 16.8518 12.6807 16.6998 13.107 16.4149C13.5334 16.13 13.8657 15.7251 14.0619 15.2514C14.2581 14.7777 14.3095 14.2564 14.2094 13.7535C14.1094 13.2506 13.8625 12.7886 13.4999 12.426C13.1373 12.0634 12.6754 11.8165 12.1725 11.7165C11.6695 11.6164 11.1483 11.6678 10.6745 11.864C10.2008 12.0602 9.79589 12.3925 9.51101 12.8189C9.22613 13.2452 9.07408 13.7465 9.07408 14.2593C9.07408 14.9469 9.34723 15.6063 9.83343 16.0925C10.3196 16.5787 10.9791 16.8518 11.6667 16.8518ZM23.3333 11.6667C22.8206 11.6667 22.3193 11.8187 21.893 12.1036C21.4666 12.3885 21.1343 12.7934 20.9381 13.2671C20.7419 13.7408 20.6905 14.2621 20.7906 14.765C20.8906 15.268 21.1375 15.7299 21.5001 16.0925C21.8627 16.4551 22.3246 16.702 22.8275 16.802C23.3305 16.9021 23.8517 16.8507 24.3255 16.6545C24.7992 16.4583 25.2041 16.126 25.489 15.6996C25.7739 15.2733 25.9259 14.772 25.9259 14.2593C25.9259 13.5717 25.6528 12.9122 25.1666 12.426C24.6804 11.9398 24.0209 11.6667 23.3333 11.6667Z" fill="currentColor"/>
				</svg>
			{% endif %}
		</button>
	{% endfor %}

	{% if validate_action is defined %}
		<button type="button" data-action="click->{{ validate_action }}" class="w-9 h-9 flex items-center justify-center bg-rouge-torii rounded-lg text-white" aria-label="{{ validate_label }}">
			<svg height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
				<polyline points="20 6 9 17 4 12"/>
			</svg>
		</button>
	{% endif %}
</div>
